<a href="{{ site.url }}">
    <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
</a>
<div class="navigation-menu">
    <a class="btn" id="mobile-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <div id="mobile-wrapper">
        <a class="btn zoombtn" href="{{ site.url }}/about">
            About
        </a>
        <a class="btn zoombtn" href="{{ site.url }}/blog">
            Blog
        </a>
        <div class="btn" id="photo-drop"  onclick=””>
            Photography
            <div class="dropdown-content">
                <a href="{{ site.url }}/product-photography" class="zoombtn">Product</a>
                <a href="{{ site.url }}/food-photography" class="zoombtn">Food</a>
                <a href="{{ site.url }}/interior-photography" class="zoombtn">Interiors</a>
                <a href="{{ site.url }}/concert-photography" class="zoombtn">Concerts</a>
                <a href="{{ site.url }}/portrait-photography" class="zoombtn">Portraits</a>
            </div>
        </div>
        <a class="btn zoombtn" href="{{ site.url }}/projects">
            Projects
        </a>
    </div>
</div>