---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
  <div class="wrapper-home animated fadeIn">
    <header class="header header-home" role="banner">
      {% include nav.html %}
      <div class="hero-banner">
        <span id="banner-text">
          <h1>Luis Rocha</h1>
          <h2>Experienced creative with a passion for design &amp; beautiful user experiences. I build cutting edge, affordable websites for small businesses.</h2>
        </span>
      </div>
    </header>
    <div class="row" id="services">
      <div class="service">
        <img src="/assets/img/luis-rocha-coding.jpg">
        <h4>Web Development</h4>
        <div class="overlay">
          <div class="text">
            <p>Do you want a website with design to brag about, fast load times, mobile responsiveness, and loads with power? Of course you do. I code your website from the ground up making it as fast &amp; beautiful as any of the other major sites your clients visit on a daily basis. </p>
          </div>
        </div>
      </div>
      <div class="service">
        <img src="/assets/img/luis-rocha-photography.jpg">
        <h4>Photography</h4>
        <div class="overlay">
          <div class="text">
            <p>With an extensive background shooting for clothing companies, restaurants, events, concerts, and commercial clients - it's safe to say I do it all. It is my goal to create photographs that match the core values associated with your services. In short, I make you look good.</p>
          </div>
        </div>
      </div>
      <div class="service">
        <img src="/assets/img/luis-rocha-design.jpg">
        <h4>Design</h4>
        <div class="overlay">
          <div class="text">
            <p>From a logo, to a branding overhaul, to a new set of sales materials, I have the talent and passion to help you. I treat each client with fresh eyes and an open mind. Let's collaborate and brainstorm on specific features and quirks that you look for in the ideal visual identity and I promise to get you there.</p>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="row" id="clients">
      <h3>Past Clients</h3>
      <div class="client">
        <img src="/assets/img/clients/san-franpsycho-logo.png" class="animated fadeInUp" alt="">
        <h4>San Franpsycho</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/interact-intranet-logo.png" class="animated fadeInUp" alt="">
        <h4>Interact Intranet </h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/subculture-logo.png" class="animated fadeInUp" alt="">
        <h4>Subculture Music</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/mayes-logo.png" class="animated fadeInUp" alt="">
        <h4>Mayes Oyster House</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/grubstake-logo.png" class="animated fadeInUp" alt="">
        <h4>Grubstake Diner</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/blue-light-logo.png" class="animated fadeInUp" alt="">
        <h4>Blue Light Bar</h4>
      </div>
      <div style="clear:both"></div>
    </div>
</div>
    {% include scripts.html %}
</body>
</html>
