---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
          {% include nav.html %}
          <div class="hero-banner">
            <span id="banner-text">
              <h1>Luis Rocha</h1>
              <h2>Growth-Centered Developer / Designer / Photographer in San Diego, CA</h2>
            </span>
          </div>
          <div class="row" id="clients">
            <h3>Clients</h3>
            <div class="client">
              <img src="http://via.placeholder.com/150x150" class="animated fadeInUp" alt="">
              <p>This is a client </p>
            </div><div class="client">
              <img src="http://via.placeholder.com/150x150" class="animated fadeInUp" alt="">
              <p>This is a client </p>
            </div>
            <div class="client">
              <img src="http://via.placeholder.com/150x150" class="animated fadeInUp" alt="">
              <p>This is a client </p>
            </div>
          </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
