---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
  <div class="wrapper-home animated fadeIn">
    <header class="header header-home" role="banner">
      {% include nav.html %}
      <div class="hero-banner">
        <span id="banner-text">
          <h1>Luis Rocha</h1>
          <h2>Growth-Centered Developer / Designer / Photographer in San Diego, CA</h2>
        </span>
      </div>
    </header>
    <div class="row" id="services">
      <div class="service">
        <img src="http://via.placeholder.com/350x350">
        <div class="overlay">
          <div class="text">test hover</div>
        </div>
      </div>
      <div class="service">
        <img src="http://via.placeholder.com/350x350">
        <div class="overlay">
          <div class="text">test hover</div>
        </div>
      </div>
      <div class="service">
        <img src="http://via.placeholder.com/350x350">
        <div class="overlay">
          <div class="text">test hover</div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="row" id="clients">
      <h3>Past Clients</h3>
      <div class="client">
        <img src="/assets/img/clients/san-franpsycho-logo.png" class="animated fadeInUp" alt="">
        <h4>San Franpsycho</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/interact-intranet-logo.png" class="animated fadeInUp" alt="">
        <h4>Interact Intranet </h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/subculture-logo.png" class="animated fadeInUp" alt="">
        <h4>Subculture Music</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/mayes-logo.png" class="animated fadeInUp" alt="">
        <h4>Mayes Oyster House</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/grubstake-logo.png" class="animated fadeInUp" alt="">
        <h4>Grubstake Diner</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/blue-light-logo.png" class="animated fadeInUp" alt="">
        <h4>Blue Light Bar</h4>
      </div>
      <div class="client">
        <img src="/assets/img/clients/jl-rocha-logo.png" class="animated fadeInUp" alt="">
        <h4>JL Rocha Shoes</h4>
      </div>
      <div style="clear:both"></div>
    </div>
</div>
    {% include scripts.html %}
</body>
</html>
