---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            {% include nav.html %}
            {% if page.project %}
            <div class="content">
            {% else %}
            <div class="content blog-content">
            {% endif %}
                <div class="post-title {% if page.feature %} feature {% endif %}">
               
                   <h1 class="fadeInUp animated">{{ page.title }}</h1>
                    
                    {% if page.project %}
                    <br>
                    <a class="btn zoombtn" href="{{site.url}}/projects/">
                    {% else %}
                    <h4>by Luis Rocha</h4>
                    <h4>{{ page.date | date: '%b %d, %Y' }}</h4>
                    {% endif %}
                </div>
                {{ content }}

                {% if page.project %}
                {% else %}
                <div class="entry-meta">
                {% include meta.html %}
                </div>
                {% endif %}
                {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section>{% endif %}
            </div>
            {% if page.project %}
            {% else %}
            <div class="blog-sidebar">
                {% include mailchimp.html %}
                <hr>
                {% include profile.html %}
                <h3 id="social-prompt">Stay in touch!</h3>
                {% include social-links.html %}
            </div>
            {% endif %}
        </div>
    </header>
    {% include scripts.html %}
    {% if site.mathjax == true %}
    <!-- MathJax -->
    <script async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    {% endif %}
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"700739be7376c2ca6d3d6ab1c","lid":"73bcefa6c7"}) })</script>
</body>
</html>
