---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            {% include nav.html %}
            <div class="content">
                <div class="post-title">
                    <h1 class="fadeInUp animated">{{ page.title }}</h1>
                </div>
                <div class="post-list">
                    {% for post in site.posts %} 
                        {% if post.project == null %}
                    <ul>
                        <li class="wow fadeIn" data-wow-duration="1.5s" >
                            <a class="zoombtn" href="{{ site.url }}{{ post.url }}">
                                <img class="post-image" src="{{ post.feature }}" style="">
                            </a>

                            <a class="zoombtn post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                            <p>{{ post.date | date: '%b %d, %Y' }}</p>
                            <p>{{ post.excerpt }}</p>
                        </li>
                    </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us16.list-manage.com","uuid":"700739be7376c2ca6d3d6ab1c","lid":"73bcefa6c7"}) })</script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>

